html {
    font-weight: 300;
}
body {
    background-color: #212121;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
h1 {
    margin-bottom: .5rem;
}

h4, h6 {
    color: #039be5;
    font-weight: 400;
}
h4 {
    margin-bottom: 25px;
}

.container {
    padding-left: 0px;
    padding-right: 0px; 
}

section {
    overflow: hidden;
}

.contact-area,
.nav-area {
    background-color: #0288d1;
    padding-left: 10px;
    padding-top: 5px;
}

.nav-tabs {
    border: none;
}

.nav-area a {
    color: #b3e5fc;
    text-transform: uppercase;
}

.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: white !important;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
    color: white;
}

.nav-tabs .nav-link.active:hover {
    border-bottom: 2px solid #fff;
    border-color: #fff;
}

.social-area,
.hero-area {
    background-color: #039be5;
    color: white;
}

.hero h2 {
    color: #b3e5fc;
}

.headshot {
    padding: 20px;
    /*border-radius: 100%;*/
}

.hero-area,
.cover-letter aside,
.social-area {
    padding: 25px;
}

.cover-letter aside,
.letter-body,
.history {
    padding: 25px 40px;
}

.cover-letter aside {
    background-color: #eceff1;
}

.resume-lead {
    background-color: #555;
    color: #bbb;
    padding: 40px 40px 20px 40px;
}

.resume section {
    margin-bottom: 30px;
}

.resume aside,
.history {
    padding-top: 40px;
}

.resume aside {
    padding-left: 40px;
    padding-right: 10px;
}

.resume .progress {
    width: 130px;
    height: 12px;
    margin-top: 5px;
}
.progress-bar {
    background-color: #0288d1;
}

.history {
    background-color: #eceff1;
}

.resume section {
    margin-bottom: 50px;
}

.event-desc {
    margin-bottom: 25px;
}

.event-date {
    font-weight: bold;
    order: -1;
}

.portfolio .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.portfolio h3,
.portfolio a,
.portfolio p {
    padding-left: 8.3%;
    padding-right: 8.3%;
}

.portfolio img {
    margin-bottom: 15px;
}

.project {
    margin-bottom: 20px;
}

.social-area {
    padding-top: 40px;
}

.social-area .col-12 {
    text-align: center;
    margin-bottom: 25px;
}
.link-social,
.link-social:hover {
    color: white;
    background-color: #0288d1;
    border-radius: 100%;
    padding: 19px;
    border-width: 0;
    margin: auto;
    margin-bottom: 10px;
}

.link-social:hover {
    background-color: #b3e5fc;
}
.link-social .fa {
    font-size: 2.2em;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-area {
    background-color: white;
}

.cover-letter .row .col {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*.cover-letter aside {
    padding-right: 50px;
}*/

footer address {
    display: inline;
}

footer a {
    color: #b3e5fc;
}

.contact-area {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #b3e5fc;
    text-align: center;
}
/* Colors */
.light-gray-bg {
    background-color: #eceff1;
}


/* Lists */

ul.icon-list,
.work ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.icon-list li {
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: .6em;
}

.icon-list i {
    background-color: #8bbdd9;
    color: white;
    border-radius: 100%;
    height: 65px;
    width: 65px;
    font-size: 3.5em;
    padding-top: 15px;
}

.history ul :last-child .event-desc {
    margin-bottom: 0;
    border-bottom: none;
}



/* tables */

tbody>tr:first-child td {
    border-top: none;
}

@media (min-width: 768px) {
    .container>header {
        -webkit-box-shadow: 0px 13px 33px -2px rgba(0,0,0,0.67);
        -moz-box-shadow: 0px 13px 33px -2px rgba(0,0,0,0.67);
        box-shadow: 0px 13px 33px -2px rgba(0,0,0,0.67);
        position: relative;
        z-index: 99;

    }

    .hero-area {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .cover-letter aside,
    .letter-body {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .cover-letter aside {
        -webkit-box-shadow: inset -11px 0px 30px -8px rgba(0,0,0,0.64);
        -moz-box-shadow: inset -11px 0px 30px -8px rgba(0,0,0,0.64);
        box-shadow: inset -11px 0px 30px -8px rgba(0,0,0,0.64);
    }
    
    .letter-body {
        padding-left: 50px;
    }
    .hero-area img {
        width: 200px;
        height: 200px;
    }

    .resume aside {
        -webkit-box-shadow: 13px 0px 33px -2px rgba(0,0,0,0.3);
        -moz-box-shadow: 13px 0px 33px -2px rgba(0,0,0,0.3);
        box-shadow: 13px 0px 33px -2px rgba(0,0,0,0.3);
        position: relative;
        z-index:1
    }

    .event {
        margin-left: -1px;
    }

    .event-desc,
    .event-date {
        border-bottom: 1px solid #ddd;
        margin-bottom: 25px;
    }

    .event-date {
        order: 3;
    }

    .history ul :last-child .event-date {
        margin-bottom: 0;
    }
    

    .history.col-12 {
        padding-left: 6%;
        padding-right: 8%;
    }

    .graphic-area {
        background-image: url("../assets/work-line.png");
        background-repeat: repeat-y;
        background-position-x: center;
        text-align: center;
        padding: 0;
    }

    .history ul {
        padding-left: 0;
    }

    .portfolio img {
        /*width: 60%;
        height: auto;*/
        margin-bottom: 0;
    }

    .project {
        margin-bottom: 0;
    }

    .project-desc {
        padding-top: 50px;
        padding-right: 20px !important;
    }

    .odd .project-desc {
        -webkit-box-shadow: -13px 0px 38px -3px rgba(0,0,0,0.86);
        -moz-box-shadow: -13px 0px 38px -3px rgba(0,0,0,0.86);
        box-shadow: -13px 0px 38px -3px rgba(0,0,0,0.86);
        position: relative;
    }

    .even .project-desc {
        order: -1;
        padding-left: 35px;
        -webkit-box-shadow: 13px 0px 38px -3px rgba(0,0,0,0.86);
        -moz-box-shadow: 13px 0px 38px -3px rgba(0,0,0,0.86);
        box-shadow: 13px 0px 38px -3px rgba(0,0,0,0.86);
        position: relative;
    }
    .social-area {
        padding-top: 40px;
    }

    /* Shadows */

    .shadow-inset-bottom {
        -webkit-box-shadow: 0px 13px 30px -8px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 13px 30px -8px rgba(0,0,0,0.64);
        box-shadow: 0px 13px 30px -8px rgba(0,0,0,0.64);
        position: relative;
        z-index: 99;
    }
}

@media (min-width: 992px) {
    .nav-area,
    .hero-area {
        padding-left: 90px;
        padding-right: 90px;
    }

    .cover-letter aside,
    .resume aside {
        padding-left: 105px;
        padding-right: 50px;
    }

    .letter-body {
        padding-right: 90px;
    }

    .resume-lead {
        padding-left: 105px;
        padding-right: 90px;
    }


}
